@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');

* {
	box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: #F8FAFB;
}
.text-navy {
    color: #132A41;
}
.text-dark {
    color: #1D262D;
}
.text-white {
    color: white;
}
.bg-color-navy {
    background-color: #132A41;
}
.bg-color-dark {
    background-color: #1D262D;
}
.center {
    text-align: center;
}
.rounded {
    border-radius: 50%;
    width: 150px;
}
.card {
    margin-top: 20px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.image {
	width: 100%;
	max-height: 450px;
	object-fit: cover;
	object-position: center;
}
header {
    display: inline;
    text-align: center;
}
header .manahan {
    font-size: 22px;
    padding: 70px 50px 50px 50px;
}
header nav {
	top: 0;
    padding: 5px;
	position: sticky;
}
header nav li {
    display: inline;
	list-style-type: none;
	margin-right: 20px;
}
header nav a {
    font-size: 18px;
	font-weight: 600;
	text-decoration: none;
	color: white;
}
main {
	padding: 20px;
	overflow: auto;
}
main #content {
    float: left;
    width: 75%;
}

main aside {
	float: right;
	width: 25%;
	padding-left: 20px;
}

main aside section img {
    padding: 10px;
}

main aside section img:hover {
    opacity: 0.5;
}
footer {
	padding: 10px;
	text-align: center;
    padding: 10px;
    border-top-style: solid;
    background-color: #fff;
    font-size: 16px;
	font-weight: 600;
}
footer a {
    text-decoration: none
}
@media screen and (max-width: 999px) {
    main #content,
    main aside {
        width: 100%;
        padding: 0;
    }
 }